body {
    font-family: arial, sans-serif;
    font-size: small;
}
/* Entire Viewport */
div#viewport {
    position: relative;
    top: 0;
    width: 100%;
}
#viewport {
    min-height: 100%;
}
.ctr-p {
    margin: 0 auto;
    min-width: 500px;
}
/* Header Navigation Bar */
#header {
    top: 16px;
    position: relative;
}

#header-left a {
    font-size: 13px;
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}
.header-right {
    display: inline-flex;
    float: right;
    margin-top: -23px; 
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
}
#gm-im {
    flex: 0 1 auto;
}
.header-right a {
    padding-left: 15px;
    position: relative;
    text-align: right;
    font-size: 13px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    align-items: center;
    justify-content: flex-end;
}
.ap-si {
    display: flex;
    white-space: nowrap;
}
.ap {
    position: relative;
    opacity: 1;
}
.sign-button {
    display: inline-block;
    padding: 0 0 0 15px;
    position: relative;
}
#si {
    border: 1px solid #4583ed;
    font-weight: bold;
    color: #fff;
    outline: none;
    background: #4583ed; 
    flex: 0 0 auto;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: inline-block;
    opacity: 1;
    text-decoration: none;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
}
#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 42.75%;
}
#search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 60.25%;
    word-wrap: break-word;
    background-color: transparent;
    font-size: 16pt;
    line-height: 16pt;
}
#rectangle {
    width: 484px;
    height: 46px;
    padding-left: 45px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    background: transparent;
    box-sizing: border-box;
    background: url("/images/m-glass.png") no-repeat scroll 14px;
}
#rectangle:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}
#search-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 73.25%;
}
.butt-style {
    border: 0;
    border-radius: 4px;
    background-color: #f4f4f4; 
    font-family: arial, sans-serif;
    font-size: 14px;
    color: #5f6368;
    height: 36px;
    margin: 11px 4px;
    min-width: 54px;
    width: 135px;
    line-height: 27px;
    text-align: center; 
    cursor: pointer;
    user-select: none;
}
.butt-style:hover {
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    background-color: #f6f6f6; 
    font-family: arial, sans-serif;
    font-size: 14px;
    color: black;
    height: 36px;
    margin: 11px 4px;
    min-width: 54px;
    width: 135px;
    line-height: 27px;
    text-align: center; 
    cursor: pointer;
    user-select: none;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 40px;
    background-color: #f2f2f2;
    border: solid 1px #e4e4e4;
}
.foot-left a {
    padding-left: 27px;
    margin: 0 !important;
    color: #5f6368;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    float: left;
}
.foot-right a {
    padding-right: 27px;
    margin: 0 !important;
    color: #5f6368;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    text-align: right;
    float: right;
}
#australia {
    position: fixed;
    left: 0;
    bottom: 41px;
    width: 100%;
    line-height: 40px;
    background-color: #f2f2f2;
    border: solid 1px #e4e4e4;  
    display: inline-block;
    padding-left: 27px;
    margin: 0 !important;
    color: #5f6368;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px; 
}
a:hover {
    text-decoration: underline;
}